[package]
name = "giallo"
version = "0.0.1"
edition = "2024"
license = "MIT"
description = "A HTML code highlighter"

[dependencies]
onig = { version = "6", default-features = false, path = "../pulls/rust-onig/onig" }
serde_json = "1"
serde = { version = "1", features = ["derive"] }
phf = "0.13"
bincode = "2"

# Optional dependencies for the generator tool
phf_codegen = { version = "0.13", optional = true }
walkdir = { version = "2.0", optional = true }
regex = "1.11.3"

[features]
tools = ["phf_codegen", "walkdir"]

[dev-dependencies]
insta = "1.39"

[[bin]]
name = "tm-generate"
path = "tools/generate.rs"
required-features = ["tools"]

