[package]
name = "giallo"
version = "0.0.1"
edition = "2024"
license = "MIT"
description = "A HTML code highlighter"

[dependencies]
onig = { version = "6", default-features = false, path = "../pulls/rust-onig/onig" }
serde_json = "1"
serde = { version = "1", features = ["derive"] }

# Optional dependencies for serialization
rmp-serde = { version = "1.1", optional = true }
flate2 = { version = "1.0", optional = true }

[features]
tools = ["dump"]
debug = []
builtins = []
dump = ["dep:rmp-serde", "dep:flate2"]

[dev-dependencies]
criterion = "0.7"
pretty_assertions = "1.0"

[[bench]]
name = "tokenizer"
harness = false

[[bin]]
name = "tm-stats"
path = "tools/stats.rs"
required-features = ["tools"]

[[bin]]
name = "build-registry"
path = "tools/build_registry.rs"
required-features = ["tools"]

