[package]
name = "giallo"
version = "0.0.1"
edition = "2021"
license = "MIT"
description = "A HTML code highlighter"

[dependencies]
onig = { version = "6", default-features = false }
serde_json = "1"
serde_derive = "1"
serde = "1"

