name: CI

on:
  push:
    branches: [master]
  pull_request:

  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  format:
    name: Format Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - name: Check formatting
        run: cargo fmt -- --check

  clippy:
    name: Clippy Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - name: Run clippy
        run: cargo clippy --all-features --all-targets -- -D warnings

  tests:
    name: Run tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [stable, macos, win-msvc]
        include:
          - build: stable
            os: ubuntu-latest
            rust: stable
          - build: macos
            os: macOS-latest
            rust: stable
          - build: win-msvc
            os: windows-2025
            rust: stable
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install just
        uses: taiki-e/install-action@v2
        with:
          tool: just

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Run tests
        run: |
          just generate-tests
          just generate-dump
          cargo test
          cargo test --all-features

      - name: Run examples
        run: |
          cargo run --release --example=profile_jquery --features="dump"
          cargo run --release --example output_html --features="dump" -- grammars-themes/samples/javascript.sample javascript
          cargo run --release --example output_html --features="dump" -- grammars-themes/samples/javascript.sample javascript g
